{% extends 'base.html' %}

{% block head %}
{{ super() }}
<meta id="my-data" content="{{current_user}}">
{% endblock %}

{% block scripts %}
{{ super() }}
<script>

function toggleDelete() {
    /* Show Delete column */
    $("td:nth-child(5),th:nth-child(5)").toggle();
};

$(".myform").click(function(e) {
    /* Handle form submission via Modal */
    e.preventDefault();
});

$('#confirm-delete').on('show.bs.modal', function(e) {
    /* TODO Cleaner way of implementing this */
    $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
    
    $('.user-to-delete').html('Delete User: <strong>' +
            $(this).find('.btn-ok').attr('href').replace('users/delete-','') + 
            '</strong>');
});

$(document).ready(function() {
    /* Dynamically adds Ids to all "Delete" options in UserTable */
    var rowCount = $('tbody tr').length;
    var i = 0;
    $('.myclass').each(function () {
        userVar = "deleteUser-" + $('.username').eq(i+1).text();
        linkVar = "users/delete-" + $('.username').eq(i+1).text();
        $(this).attr('id', userVar); 
        $(this).attr('data-href', linkVar); 
        $(this).removeClass('myclass'); 
        i++;
    });
});

</script>
{% endblock %}

{% block styles %}
{{ super() }}
<style>
    td:nth-child(5),th:nth-child(5) { display: none; }
    form[action*="delete"] button {
        background-color: #d9534f; 
        color: white; 
        border: 1px solid #d43f3a;
        border-radius: 4px;
    }
    form[action*="delete"] button:hover {
        background-color: #c9302c;
        border-color: #ac2925;
    }

    form[action*="edit"] button {
        background-color: #337ab7; 
        color: white; 
        border: 1px solid #2e6da4;
        border-radius: 4px;
    }
    form[action*="edit"] button:hover {
        background-color: #286090; 
        color: white; 
        border: 1px solid #204d74;
    }

</style>
{% endblock %}

{% block app_content %}

<h1>Users</h1>
<p><a href="{{ url_for('manage.register') }}">Create new user</a></p>
<p><a style="color: red;" href="javascript:toggleDelete()">Delete user</a></p>
{{ table }}
<p><a href="{{ url_for('manage.register') }}">Create new user</a></p>

<!-- Modal -->
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
            </div>
        
            <div class="modal-body">
                <p>You are about to delete a user, this procedure is irreversible.</p>
                <p>Do you want to proceed?</p>
                <p class="user-to-delete"></p>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok" href="">Delete</a>
            </div>

        </div> <!-- End modal-content -->
    </div> <!-- End modal-dialog -->
</div> <!-- End modal -->

{% endblock %}
