<html>
<head>
    {% if title %}
    <title>{{title}} - AMMK Inventory System</title>
    {% else %}
    <title>Welcome to AMMK Inventory System</title>
    {% endif %}
</head>
<body>
    <div>AMMK Inventory System: 
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('inventory') }}">Inventory</a>
        <a href="{{ url_for('printLabel') }}">Print Label</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>

