{% extends 'base.html' %}

{% block head %}
{{ super() }}
<meta id="my-data" content="{{current_user}}">
{% endblock %}

{% block scripts %}
{{ super() }}
<script>

function toggleDelete() {
    $("td:nth-child(4),th:nth-child(4)").toggle();
};

/* Dynamically adds Ids to all "Delete" options in UserTable */
$(document).ready(function() {
    var rowCount = $('tbody tr').length;
    var i = 0;
    $('.myclass').each(function () {
        userVar = "deleteUser-" + $('.username').eq(i+1).text();
        $(this).attr('id', userVar); 
        $(this).removeClass('myclass'); 
        i++;
    });
});

/* Prevents User from deleting their own account */
$(document).ready(function() {
    var re = new RegExp('<User ([a-zA-z]+)>');
    var userVar = $('#my-data').attr("content");
    var matches = re.exec(userVar);
    $("#deleteUser-" + matches[1]).contents().unwrap();
});

</script>
{% endblock %}

{% block styles %}
{{ super() }}
<style>
    td:nth-child(4),th:nth-child(4) { display: none; }
    a[href*="delete"] { color: red; }
</style>
{% endblock %}

{% block app_content %}
    <h1>Users</h1>
    <p><a href="{{ url_for('register') }}">Create new user</a></p>
    <p><a style="color: red;" href="javascript:toggleDelete()">Delete user</a></p>
    {{ table }}
    <p><a href="{{ url_for('register') }}">Create new user</a></p>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete User</h5>
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>-->
      </div>
      <div class="modal-body">
          You are deleting a user. Are you sure? 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success success" type="submit" data-target="#emailForm.click()">Confirm</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
